/* Global CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;

}

html {
    font-family: sans-serif;
    line-height: 1.1;

}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: black;


}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.btn-hover {
    transition: all 0.5s;
}

.btn-hover:hover {
    color: white !important;
    background-color: #DC4F72;
}

.btn__more {
    transition: all 0.6s;
    border-radius: 2px;
    text-align: center;
    background: #DC4F72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
}

.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #cf2e2e;
    text-transform: uppercase;
    margin-bottom: 5px;
}

/* HEADER */
header {
    width: 100%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    align-items: center;
    height: 80px;
    border-bottom: none;
}





/* Tạo đường gạch */
/* #navbarMaster .nav-item .nav-link::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #DC4F72;
    display: block;
    transition: all 0.5s;
} */

/* #navbarMaster .nav-item:hover .nav-link::after {
    width: 30%;
} */

/* header .navbar-nav .nav-item a {
    color: black;
    transition: all 0.5s;
}

.navbar-light .navbar-nav .active>.nav-link::after a:hover {
    color: #DC4F72;
}

header .nav-link.active {
    color: #DC4F72 !important;
} */

header .search-right .btn {
    border-color: #DC4F72 !important;
    color: #DC4F72;
    transition: all 0.5s;
}



/* Thong test */
.navbar-dark .navbar-nav .nav-link {
    color: black !important;
}

/* Tìm thẻ của html5 đè lại */
.navbar-dark .navbar-nav .active>.nav-link {
    color: #DC4F72 !important;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #DC4F72 !important;
}


.navbar-brand .logo {
    color: #DC4F72 !important;
    font-size: 26px;
    /* margin-right: 5px; */
    margin: 0;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: .5px;
}

.search-right {
    display: flex;
    justify-self: self-end;
    align-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}


.nav-item .nav-link::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #DC4F72;
    display: block;
    transition: all 0.5s;
}

.nav-item:hover .nav-link::after {
    width: 30%;
}

.navbar .found .search-right .search-search {
    font-size: 15px;
    opacity: .7;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background: #F7F9FC;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #eee;
    color: #6c757dcb !important;
}

.navbar .found .search-right .search-search:hover {
    color: #010101 !important;
}

.dropdown-menu .dropdown-item {
    transition: all 0.6s ease-in-out;
    background-color: white;
    border: 1px solid transparent;
    padding: 1rem 0 .3rem;
    box-shadow: #eee;
    border-radius: 6px;
    min-width: 2rem;
}


.dropdown-menu .dropdown-item:hover {
    color: #DC4F72;
    width: 0;

    background-color: #dc4f72bc;
    display: block;
    border-radius: 0.5rem 1rem rgba(0, 0, 0, 0.09);

}

/* Thong test dark mode */
.dark-mode {
    display: flex;
    justify-content: center;
    /* background: #2b2b2b2b; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
}

.dark-mode input {

    position: absolute;
    opacity: 0;
}

.sun {
    font-size: 1.1em;
    color: #5a5a5a;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, .5));
    transition: 1s ease;
    position: absolute;
    transform: scale(0);
    transition: 1s ease;

}

input:checked~.sun {
    transform: scale(1) rotate(360deg);
    transition-delay: .8s;
}

.moon {
    font-size: 1.1em;
    color: #5a5a5a;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, .5));
    transition: 1s ease;
    transition-delay: .8s;
}

input:checked~.moon {
    transform: rotate(360deg)scale(0);
    transition-delay: 0s;
}

.toggle {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* background-color: #5a5a5a; */
    box-shadow:
        inset 0 8px 60px rgba(0, 0, 0, .1),
        inset 0 8px 8px rgba(0, 0, 0, .1),
        inset 0 -4px 4px rgba(0, 0, 0, .1);

    z-index: -1;
}

input:checked~.toggle {
    background-color: #ccc;
}

.animateBg {
    position: absolute;
    width: 100%;
    background-color: #ccc;
    clip-path: circle(0% at 50% 50%);
    z-index: -2;
    transition: 1.5s ease-out;
    color: black;

}

input:checked~.animateBg {
    clip-path: circle(70.7% at 50% 50%);
}

/* bANNER */
.banner {
    background: linear-gradient(to right, var(--bg-color), rgba(255, 255, 255, 0.92)), url(https://wp.w3layouts.com/masterwork/wp-content/themes/masterwork/assets/images/banner.jpg);
    position: relative;
    height: 100%;
}

.banner .banner__content,
.txt,
.h3 {
    font-size: 30px !important;
    font-weight: 500;
}

.btn__started {
    border: 2px solid #DC4F72;
    color: #DC4F72;
    padding: 15px 20px;
    transition: all 0.5s;
}

.banner a {
    color: red;
    text-decoration: none;
    background-color: transparent;
}

.banner .img-fluid {
    width: 100%;
    height: auto;
}

/* Choose */
.choose__content .col-4.content {
    text-align: center;
    border: #DC4F72 2px solid;
    padding: 3.5rem 2.1rem;
}

.choose .choose__title {
    text-align: center;
}

.choose .choose__title h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}

.choose .choose__title h3 {
    font-size: 47px;
    color: #2c3038;
    line-height: 1.0;
    font-weight: 700;
}

.choose .choose__content .content h3 {
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
    color: #2c3038;
}

.choose .choose__content .content {
    text-align: center;
    background-color: #F7F9FC;
    padding: 3rem 2rem;
    border: 3px solid transparent;
    transform: translateY(0);
    transition: all 0.6s;
    cursor: pointer;
}

.choose .choose__content .content:hover {
    transform: translateY(-15px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.choose .choose__content .border-radius {
    border-radius: 3px;
}

/* About__us */
.about {
    background-color: #F7F9FC;
}

.about .content h4 {
    font-size: 16px;
    line-height: 24.5px;
}

.about .content p.counter {
    font-size: 50px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}

.about .sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #cf2e2e;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.about .btn__more:hover {
    background-color: #D62F58;
    text-decoration: none;
    color: #fff;
}

.about .about-item .box-img img {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    transform: translateY(0);
    border-radius: 4px;
    vertical-align: middle;
}

.about .about-item .box-img:hover {
    transform: translateY(-15px);
    transition: 0.3s ease-in-out;
}

/*  */
.about__content {
    background-color: #F7F9FC;
}

.about__item .about__content h3 {
    font-size: 35px !important;
    line-height: 40px;
    font-weight: 700;
}

.about__content .content {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    transition: all 0.6s;
    cursor: pointer;
}

.about__content .content:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* True */
.true {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url('https://wp.w3layouts.com/masterwork/wp-content/themes/masterwork/assets/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
    border-radius: 3px;
}

.true .true__title h2 {
    color: #F7F9FC;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.true .true__title p {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
}

.true .btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    text-align: center;
    border: 1px solid transparent;
    text-transform: uppercase;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    padding: 15px 30px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 5px;
}

.true .btn-light:hover {
    text-decoration: none;
    background-color: #abb8c3;
}

/* Backtotop */
.backToTop {
    border-style: none;
    padding: 10px;
    position: fixed;
    bottom: -10px;
    right: -10px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    width: 50px;
    height: 45px;
    opacity: 0.7;
    color: white;
    background-color: #f78da7;
    border-radius: 3px;
}

.backToTop:hover {
    background-color: #D62F58;
    opacity: 1;
    transition: 0.3s ease;
    color: #ffffff;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

/* Footer */
/* footer__bottom */
.footer__bottom {
    background-color: #F7F9FC;
}

.footer__bottom .footer1__item ul li a {
    text-decoration: none;
    color: gray;
    transition: all 0.5s;
}

.footer__bottom .footer1__item ul li a:hover {
    color: #DC4F72;
}

.footer__bottom .footer1__item a {
    color: gray;
}

.footer__bottom .footer1__item a:hover {
    color: #DC4F72;
    text-decoration: none;
}

.footer__bottom .footer1__item ul {
    list-style: none;
}

/* FooterNews */
.footerNews {
    border-radius: 6px;
    /* border: #F7F9FC 2px solid; */
    /* background-color: white; */
    width: 570px;
}

.footerNews .letter {
    background-color: white;
    border: #F7F9FC 2px solid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.footerNews .letter .btn__more:hover {
    text-decoration: none;
    color: #F7F9FC;
}

.footerNews h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 30px;

}

.footerNews .end-column .btn__more {
    padding: 15px 20px;
    font-weight: 600;
    text-align: center;
    outline: none;
    width: 40%;
    border: none;
}

.footerNews form,
ul li a {
    text-decoration: none;
}

.footerNews form input {
    font-size: 16px;
    outline: none;
    width: 60%;
    color: #666;
    background-color: #F7F9FC;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin-left: 5px;
}

.footerNews .end-column .p {
    color: #5a5a5a;
}

/* footer copyright */
/* .footer__copyright .copyright {
    display: flex;

} */

.footer__copyright {
    background-color: #F7F9FC;
}

.footer__copyright .copyright a {
    text-decoration: none;
    color: #000000;
    transition: all 0.5s;
}

.footer__copyright .copyright a:hover {
    color: #DC4F72;
}

.footer__copyright .copyright .p {
    padding-left: 70px !important;
}

.copyright {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #F7F9FC;
    color: black;
    padding: 50px 0;
}

/* Social */
.footer__copyright .social.a,
span {
    text-decoration: none;
    color: #000000 !important;
    transition: all 0.5s;
}

.footer__copyright .social.a,
span:hover {
    color: #D62F58 !important;
}

/* 404 */
.error .error404 {
    font-size: 30px;
    align-items: center;

}

.error .error404 span,
h1,
.icon {
    color: #DC4F72;
    font-size: 1rem;
    line-height: 1.2;
    font-size: 100px;
}

.error .error-page .error__content.h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #000000;
    font-weight: 700;
    line-height: 1.2;
}

.error .form input {
    width: 100%;
    color: #666;
    background: #fff;
    padding: 16px 110px 12px 20px;
    font-size: 16px;
    line-height: 28px;
    height: 58px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: 500;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.error .error-page {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
}

.error span {
    font-size: 16px;
}

.error .btn-search {
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    line-height: 1.25;
    cursor: pointer;
    transition: all 0.5s;
    background-color: #dc4f72;
    color: #fff;
    border: none;
    width: 100px;
    font-weight: 500;
    height: 58px;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    outline: none;
}

/* Contact */
/* Nav small */
.nav-small {
    padding: 15px 20px;
    background-color: #F7F9FC;
    margin-top: 90px;
    font-size: 14px;
}

.nav-small a {
    color: #db5678;
    margin: 0 5px 0 0;
    font-size: 14px;
}


/* Contact */
.header-section h2 {
    font-size: 45px;
    font-weight: 800;
}

.header-section h3 {
    font-size: 40px;
    font-weight: 700;
}

.header-section {
    max-width: 750px;
    margin: 0 auto;
}

.img-curve:hover {
    transform: translateY(-20px);
    transition: all 0.5s;
}

.contact-form .main-input {
    display: flex;
    flex-direction: column;
}

.contact-form .main-input input,
textarea {
    outline: none;
    padding: 15px 20px;
    border-radius: 0;
    font-weight: 600;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
    border: 1px solid #abb8c3;
    background: #F7F9FC;
    border: 2px transparent;

}

.contact-form .main-input textarea {
    height: 130px;
}

.text-right button {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
    padding: 0px 50px;
}

.ContactSection {
    background-color: white;
}

.w3l-contact .header-section {
    max-width: 750px;
    margin: 0 auto;

}

.w3l-contact .contact-form {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 16px;
}

.w3l-contact .btn__more {
    transition: all 0.6s;
    border-radius: 2px;
    text-align: center;
    background: #DC4F72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    margin-top: 16px;
    border-radius: 5px;
}

.w3l-contact .btn__more:hover {
    background-color: #D62F58;
    text-decoration: none;
    color: #fff;
}

/* Get in touch */

.touch__content .col-4.content {
    text-align: center;
    border: #DC4F72 2px solid;
}

.touch .touch__title {
    text-align: center;
}

.touch .touch__title h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}

.touch .touch__title h3 {
    font-size: 47px;
    color: #2c3038;
    line-height: 1.0;
    font-weight: 700;
}

.touch .touch__content .content h3 {
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
    color: #2c3038;
}

.touch .touch__content .content {
    text-align: center;
    background-color: #ffffff;
    padding: 3rem 2rem;
    border: 3px solid transparent;
    transform: translateY(0);
    transition: all 0.6s;
    cursor: pointer;
    height: 300px;
    padding: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.touch .touch__content .content:hover {
    transform: translateY(-15px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.touch .touch__content .border-radius {
    border-radius: 3px;
}

.touch .touch__content .content .icon {
    color: #DC4F72 !important;
    line-height: 60px;
    font-size: 50px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    border: 2px solid #DC4F72;
    text-align: center;
    background: rgba(220, 79, 114, 0.1);
}

.touch .touch__content p a {
    color: #5a5a5a !important;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

.touch .touch__content p a:hover {
    color: #db5678 !important;
}


/* TEST */
/* Responsive */



/* Tablets */
/* Tablet & mobile*/

@media only screen and (min-device-width: 480px) and (max-device-width:768px) {


    .touch__content .col-4.content {
        text-align: center;
        border: #DC4F72 2px solid;
    }

    .touch .touch__title {
        text-align: center;
    }

    .touch .touch__title h5 {
        font-size: 0.6rem;
        font-weight: 600;
        line-height: 1.5;
    }

    .touch .touch__title h3 {
        font-size: 1.6em;
        color: #2c3038;
        line-height: 1.0;
        font-weight: 600;
    }

    .touch .touch__content .content h3 {
        font-size: 0.9em;
        line-height: 1.1em;
        font-weight: 800;
        color: #2c3038;
    }

    .touch .touch__content .content {
        text-align: center;
        background-color: #ffffff;
        padding: 3rem 2rem;
        border: 3px solid transparent;
        transform: translateY(0);
        transition: all 0.6s;
        cursor: pointer;
        height: 18em;

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 1.1rem;
    }

    .touch .touch__content .content:hover {
        transform: translateY(-15px);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .touch .touch__content .border-radius {
        border-radius: 3px;
    }

    .touch .touch__content .content .icon {
        color: #DC4F72 !important;
        line-height: 2.0em;
        font-size: 2.0em;
        border-radius: 50%;
        height: 2em;
        width: 2em;
        margin: 0 auto;
        border: 2px solid #DC4F72;
        text-align: center;
        background: rgba(220, 79, 114, 0.1);
    }

    .touch .touch__content p a {
        color: #5a5a5a !important;
        font-size: 0.8;
        line-height: 0.89em;
        font-weight: 460;
    }

    .touch .touch__content p a:hover {
        color: #db5678 !important;
    }

    .touch .touch__content p {
        font-size: 0.87em;
        font-weight: 460;

    }



    .navbar-brand .logo {
        color: #db5678;
        font-size: 1.1em;
        padding-left: 0.3em;
        margin: 0;
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: .5px;
    }

    .navbar-dark .navbar-toggle {
        color: #ccc;
        background-color: #DC4F72 !important;
    }



}


/* Small devices */
@media only screen and (min-device-width: 769px) and (max-device-width:1023.9px) {


    .touch__content .col-4.content {
        text-align: center;
        border: #DC4F72 2px solid;
    }

    .touch .touch__title {
        text-align: center;
    }

    .touch .touch__title h5 {
        font-size: 0.8rem;
        font-weight: 600;
        line-height: 1.6;
    }

    .touch .touch__title h3 {
        font-size: 1.8em;
        color: #2c3038;
        line-height: 1.0;
        font-weight: 600;
    }

    .touch .touch__content .content h3 {
        font-size: 1em;
        line-height: 1.05em;
        font-weight: 790;
        color: #2c3038;
    }

    .touch .touch__content .content {
        text-align: center;
        background-color: #ffffff;
        padding: 3rem 2rem;
        border: 3px solid transparent;
        transform: translateY(0);
        transition: all 0.6s;
        cursor: pointer;
        height: 18em;

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-bottom: 4em;
    }

    .touch .touch__content .content:hover {
        transform: translateY(-15px);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .touch .touch__content .border-radius {
        border-radius: 3px;
    }

    .touch .touch__content .content .icon {
        color: #DC4F72 !important;
        line-height: 2.0em;
        font-size: 2.0em;
        border-radius: 50%;
        height: 2em;
        width: 2em;
        margin: 0 auto;
        border: 2px solid #DC4F72;
        text-align: center;
        background: rgba(220, 79, 114, 0.1);
    }

    .touch .touch__content p a {
        color: #5a5a5a !important;
        font-size: 0.8;
        line-height: 0.89em;
        font-weight: 460;
    }

    .touch .touch__content p a:hover {
        color: #db5678 !important;
    }

    .touch .touch__content p {
        font-size: 0.88em;
        font-weight: 470;

    }

    .navbar-toggler-icon {
        background-color: #db5678 !important;
    }

    .navbar-brand .logo {
        color: #db5678;
        font-size: 1.4em;
        padding-left: 0.3em;
        margin: 0;
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: .5px;
    }

}

/* Large devices */

@media only screen and (min-device-width: 1025px) and (max-device-width:1440px) {
    .touch__content .col-4.content {
        text-align: center;
        border: #DC4F72 2px solid;
    }

    .touch .touch__title {
        text-align: center;
    }

    .touch .touch__title h5 {
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.5;
    }

    .touch .touch__title h3 {
        font-size: 2.9em;
        color: #2c3038;
        line-height: 1.0;
        font-weight: 700;
    }

    .touch .touch__content .content h3 {
        font-size: 1.62em;
        line-height: 2.2em;
        font-weight: 700;
        color: #2c3038;
    }

    .touch .touch__content .content {
        text-align: center;
        background-color: #ffffff;
        padding: 3rem 2rem;
        border: 3px solid transparent;
        transform: translateY(0);
        transition: all 0.6s;
        cursor: pointer;
        height: 18.8;
        padding: 3rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .touch .touch__content .content:hover {
        transform: translateY(-15px);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .touch .touch__content .border-radius {
        border-radius: 3px;
    }

    .touch .touch__content .content .icon {
        color: #DC4F72 !important;
        line-height: 3.8em;
        font-size: 3.12em;
        border-radius: 50%;
        height: 3.8em;
        width: 3.8em;
        margin: 0 auto;
        border: 2px solid #DC4F72;
        text-align: center;
        background: rgba(220, 79, 114, 0.1);
    }

    .touch .touch__content p a {
        color: #5a5a5a !important;
        font-size: 1.1em;
        line-height: 1.4;
        font-weight: 600;
    }

    .touch .touch__content p a:hover {
        color: #db5678 !important;
    }



}


/* FAQ */
.General .General_header h6 {
    font-size: 16px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}

.General .General_header h3 {
    font-size: 46px;
    color: #2c3038;
    font-weight: 700;
}

.General .General_header p {
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 400;

}

.imgFAQs {
    max-width: 100%;
    height: auto;
    border: 1px;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0);
    transition: 0.3s;
}


.General_content .General_content_img:hover .imgFAQs {
    transform: translateY(-20px);
}

.btn-block {
    cursor: default;
    text-decoration: none;
    color: black;
}

/* Feature */
.sub-title2 {
    font-size: 16px;
    font-weight: 700;
    color: #dc4f72;
}

.header-section {
    max-width: 750px;
    margin: 0 auto;
}

.header-section h3 {
    font-size: 40px;
    line-height: 1;
    font-weight: 700;
}

.header-section p {
    font-size: 15px;
    font-weight: 400;
    color: #5a5a5a;
}

.nav-tabs .nav-link.active,
.nav-tabs .show>.nav-link {

    border-bottom: 3px solid #dc4f72;
}


.featured .box-img img {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    transform: translateY(0);
    border-radius: 4px;
    vertical-align: middle;
}

.featured .box-img:hover {
    transform: translateY(-15px);
    transition: 0.3s ease-in-out;
}

.featured .img-move:hover {}